.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    align-items: center;
    padding: 5px 25px;
}
.logo-container img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

/* .logo-container{
    border: 5px solid black;
} */

.nav-items ul{
    display: flex;
    gap: 25px;
    font-size: 24px;
    list-style-type:none;
    padding: 2px 18px;
}
.body{
    max-width: 100%;
    margin: 0 auto;
    padding: 30px 24px;
    /* background-color: red; */

}
.search-bar{
   padding: 10px 0px;
   margin: 0px 100px;
   
}
.res-card{
    padding: 10px;
    width: 200px;
    margin: 15px;
    border-radius: 10px;
    transition: 
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background-color 0.3s ease,
    border 0.3s ease;
}
.res-img{
    width: 100%;
    height: 120px;
    border-radius: 10px;
}
.res-card:hover{
  background-color: #e3dfcc;
  border-radius: 10px;
  cursor: pointer;
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


.rating-row {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.rating-icon {
  display: flex;
  align-items: center;
  padding-right:  8px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
}

.rating-icon img {
  height: 15px;
  width: 15px;
}

.delivery-time {
  font-size: 14px;
  font-weight: 500;
}

/* remove default margins */
.rating-row span {
  margin: 0;
}

.cuisines{
    color: #383737;
}
.res-card p{
    margin-top: 0;
    color: #383737; ;
}
.res-card .res-details{
    padding: 0px 8px;
}

.menu-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.menu-card{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 15px;
}
.menu-card img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: none;
     transition: 
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background-color 0.3s ease,
    border 0.3s ease;
}
.menu-card img:hover{
    cursor: pointer;
    transform: translateY(-8px) scale(1.03);
   box-shadow: 
    0 6px 12px rgba(0, 0, 0, 0.15),
    inset 0 -4px 6px rgba(0, 0, 0, 0.08);

}
.menu-box h2{
    margin-left: 80px;
}




